<label>Введите имя:</label>
<input [(ngModel)]="name" placeholder="Ваше имя">
<input type="text" [(ngModel)]="age" placeholder="Укажите возраст">




<p>1. Привязка элемента DOM к значению компонента (односторонняя). В двойных фигурных скобках указывается выражение, к которому идет привязка: {{name}}. Например:</p>
<p>Test {{name}}</p>
<h1>Добро пожаловать, {{name}} ваш возраст {{age}} лет!</h1>

<p>2. Привязка свойства элемента html к значению компонента (односторонняя). Например:</p>
<input type="text" [value]="name" />

<p>3. Привязка метода компонента к событию в DOM (генерация события в DOM вызывает метод на компоненте)(односторонняя). Например:</p>
	
<button (click)="addItem(name, age)">Добавить</button>

<p>4. Двусторонняя привязка, когда элемент DOM привязан к значению на компоненте, при этом изменения на одном конце привязки сразу приводят к изменениям на другом конце. Например:</p>

<input [(ngModel)]="name" placeholder="name">

<h2>Привязка свойств элементов html</h2>
Важно понимать, что здесь идет привязка не к атрибуту, а именно к свойству элемента в javascript, который представляет данный элемент html. Например, мы могли бы привязать некоторое значение к текстовому содержимому элемента:
<p [textContent]="name"></p>

<h2>Привязка к событию</h2>

<p>Привязка к событию позволяет связать с событием элемента метод из компонента:</p>
<p>Количество кликов {{count}}</p>
	<button (click)="increase()">Click</button>
<p>Мы также можем передавать информацию о событии через объект <b>$event:</b></p>

<h2>Двусторонняя привязка</h2>

<p>Двусторонняя привязка позволяет динамически менять значения на одном конце привязки при изменениях на другом конце. Как правило, двусторонняя привязка применяется при работе с элементами ввода, например, элементами типа input. Например:</p><br>
<p>Привет {{name}}</p>
    <input type="text" [(ngModel)]="name" /> <br><br>
    <input type="text" [(ngModel)]="name" />


<h2>Работа с компонентами</h2>
<child-comp><h2>Добро пожаловать {{name}}!</h2></child-comp>